@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
        url('../fonts/SourceSansPro-Light.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightIt'),
        url('../fonts/SourceSansPro-LightIt.woff2') format('woff2'),
        url('../fonts/SourceSansPro-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
        url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Semibold Italic'), local('SourceSansPro-SemiboldIt'),
        url('../fonts/SourceSansPro-SemiboldIt.woff2') format('woff2'),
        url('../fonts/SourceSansPro-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Italic'), local('SourceSansPro-It'),
        url('../fonts/SourceSansPro-It.woff2') format('woff2'),
        url('../fonts/SourceSansPro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'),
        url('../fonts/SourceSansPro-ExtraLight.woff2') format('woff2'),
        url('../fonts/SourceSansPro-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro ExtraLight Italic'), local('SourceSansPro-ExtraLightIt'),
        url('../fonts/SourceSansPro-ExtraLightIt.woff2') format('woff2'),
        url('../fonts/SourceSansPro-ExtraLightIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
        url('../fonts/SourceSansPro-Bold.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Black'), local('SourceSansPro-Black'),
        url('../fonts/SourceSansPro-Black.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldIt'),
        url('../fonts/SourceSansPro-BoldIt.woff2') format('woff2'),
        url('../fonts/SourceSansPro-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Black Italic'), local('SourceSansPro-BlackIt'),
        url('../fonts/SourceSansPro-BlackIt.woff2') format('woff2'),
        url('../fonts/SourceSansPro-BlackIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
        url('../fonts/SourceSansPro-Semibold.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-Italic.woff2') format('woff2'),
        url('../fonts/SourceCodePro-Italic.woff') format('woff'),
        url('../fonts/SourceCodePro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-LightItalic.woff2') format('woff2'),
        url('../fonts/SourceCodePro-LightItalic.woff') format('woff'),
        url('../fonts/SourceCodePro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/SourceCodePro-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/SourceCodePro-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-BlackItalic.woff2') format('woff2'),
        url('../fonts/SourceCodePro-BlackItalic.woff') format('woff'),
        url('../fonts/SourceCodePro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-ExtraLight.woff2') format('woff2'),
        url('../fonts/SourceCodePro-ExtraLight.woff') format('woff'),
        url('../fonts/SourceCodePro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-Medium.woff2') format('woff2'),
        url('../fonts/SourceCodePro-Medium.woff') format('woff'),
        url('../fonts/SourceCodePro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-MediumItalic.woff2') format('woff2'),
        url('../fonts/SourceCodePro-MediumItalic.woff') format('woff'),
        url('../fonts/SourceCodePro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-Light.woff2') format('woff2'),
        url('../fonts/SourceCodePro-Light.woff') format('woff'),
        url('../fonts/SourceCodePro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-Bold.woff2') format('woff2'),
        url('../fonts/SourceCodePro-Bold.woff') format('woff'),
        url('../fonts/SourceCodePro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-ExtraBold.woff2') format('woff2'),
        url('../fonts/SourceCodePro-ExtraBold.woff') format('woff'),
        url('../fonts/SourceCodePro-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-BoldItalic.woff2') format('woff2'),
        url('../fonts/SourceCodePro-BoldItalic.woff') format('woff'),
        url('../fonts/SourceCodePro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-Black.woff2') format('woff2'),
        url('../fonts/SourceCodePro-Black.woff') format('woff'),
        url('../fonts/SourceCodePro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/SourceCodePro-ExtraLightItalic.woff') format('woff'),
        url('../fonts/SourceCodePro-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-Regular.woff2') format('woff2'),
        url('../fonts/SourceCodePro-Regular.woff') format('woff'),
        url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-SemiBold.woff2') format('woff2'),
        url('../fonts/SourceCodePro-SemiBold.woff') format('woff'),
        url('../fonts/SourceCodePro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/SourceCodePro-SemiBoldItalic.woff') format('woff'),
        url('../fonts/SourceCodePro-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

